{% extends "BookBookBundle::layout.html.twig" %}
{% block title %}Livres du monde{% endblock %}
{% block body %}
    <h2>Liste des livres</h2>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mt-5 p-2">
            <div class="card p-4" style="width: 20rem; height: 20rem">
                <div class="card-body">
                    <h3>{{ book.title }}</h3>
                    <p class="mt-3">{{ book.resume | slice(0,100) }}...</p>
                    <a class="btn btn-primary mt-5" href="" role="button">Editer</a>
                    <a class="btn btn-primary mt-5" href="{{ path('single_view',{'id':book.id}) }}" role="button">Lire la suite</a>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
{% endblock %}